<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>SignIn</title>
</head>
<body>
  <td>サインイン画面</td><br><br>
  <p th:text="*{userName}"></p>
  <p th:text="*{password}"></p>
  
  <td>ユーザー名：</td>
  <input type = "text" name = "inputUserName"><br>
  	
  <td>パスワード：</td>
  <input type = "text" name = "inputPassword"><br>
  
  <form th:action="@{/NewsTranslate/TopPage}" method="post">
  	<input type="submit" value = "サインイン"><br><br>
  </form>
  <form th:action="@{/NewsTranslate/SignUp}" method="post">
  	<input type="submit" name = "SignUp" value = "サインアップ">
  </form>
  <input type="submit" name = "TopPage" value = "ユーザー登録なしで使用する">
</body>
</html>