<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>SignIn</title>
</head>
<body>
    <td>サインイン画面</td><br><br>
    <form th:action="@{/NewsTranslate/SignInCheck}" method="post">
        <td>ユーザー名：</td>
        <input type = "text" name = "userName"><br>
        <td>パスワード：</td>
        <input type = "text" name = "password"><br>
      
        <p th:text="*{caution}"></p>
        <input type="submit" value = "サインイン"><br><br>
    </form>
  
    <form th:action="@{/NewsTranslate/SignUp}" method="post">
        <input type="submit" value = "サインアップ">
    </form>
    
    <form th:action="@{/NewsTranslate/NotSignIn}" method="post">
        <input type="submit" value = "ユーザー登録なしで使用する">
    </form>
</body>
</html>