<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>SignUp</title>
</head>
<body>
<div align="center">
    <td>サインアップ</td><br><br>
    <form th:action="@{/SignUpCheck}" method="post">
        <td>ユーザー名：</td>
        <input type = "text" name = "userName"><br>
        <td>パスワード：</td>
        <input type = "text" name = "password"><br>
        <td>パスワード確認：</td>
        <input type = "text" name = "passwordCheck"><br><br>
        
        <p th:text="*{nameCaution}"></p>
        <p th:text="*{passwordCaution}"></p>
        <input type="submit" value = "登録">
  	</form>
 </div>
</body>
</html>