<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>SignIn</title>
</head>
<body>
<div align="center">
    <td>サインイン</td><br><br>
    
    <p th:if="${param.error}" style="color:red">ユーザー名もしくはパスワードに誤りがあります。</p><br>
    
    
    <form th:action="@{/SignInCheck}" method="post">
        <td>ユーザー名：</td>
        <input type = "text" name = "userName"><br>
        <td>パスワード：</td>
        <input type = "password" name = "password"><br>
      
        <input type="submit" value = "サインイン"><br><br>
    </form>
    
    <form th:action="@{/SignUp}" method="post">
        <input type="submit" value = "サインアップ">
    </form>
    
    <form th:action="@{/SignInCheck}" method="post">
        <input type="submit" value = "ユーザー登録なしで使用する">
        <input type="hidden" name="userName" value="user">
		<input type="hidden" name="password" value="password">
    </form>
</div>
</body>
</html>